---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ValueProposition from '../components/ValueProposition.astro';
import Gallery from '../components/Gallery.astro';
import RoutingMatrix from '../components/RoutingMatrix.astro';
import Pricing from '../components/Pricing.astro';
import SeoSections from '../components/SeoSections.astro';
import ReviewFunnel from '../components/ReviewFunnel.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="RCBA Parking | Secure, 24/7 Parking in Santa Marta">
  <Header />
  
  <main>
    <Hero />
    <ValueProposition />
    <Gallery />
    <RoutingMatrix />
    <Pricing />
    <SeoSections />
    <ReviewFunnel />
  </main>

  <Footer />
</Layout>
